<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Fotografi</title>
</head>
<body>
    <div>
    	<h4>Fotografi</h4>
		<div>
			<table>
				<tr>
					<th>Fotografo: </th>
				</tr>
				<tr th:each="fotografo : ${fotografi}">
					<td><a th:href="@{'/fotografo' + '/' + ${fotografo.id}}"><span th:text="${fotografo.nome} + ' ' + ${fotografo.cognome}">Nome Cognome</span></a></td>					
                </tr>
            </table>
   		</div>
    </div>
</body>
</html>