<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div>
		<h4 class="title">Inserisci Foto</h4>
		<p th:text="${exists}"></p>
	</div>
	<form th:action="@{/admin/foto}" method="POST" th:object="${foto}">
		<table>
			<tr>
				<td>Titolo:</td>
				<td><input type="text" th:field="*{titolo}" /></td>
				<td th:if="${#fields.hasErrors('titolo')}" th:errors="*{titolo}"></td>
			</tr>		
			<tr>
				<td>Descrizione:</td>
				<td><input type="text" th:field="*{descrizione}" /></td>
			</tr>
			<tr>
				<td>Indirizzo:</td>
				<td><input type="text" th:field="*{indirizzo}" /></td>
				<td th:if="${#fields.hasErrors('indirizzo')}" th:errors="*{indirizzo}"></td>
			</tr>
			<tr>
				<td><button type="submit">Submit</button></td>
			</tr>
		</table>
	</form>
</body>
</html>